services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    networks:
      - ingress-network
    ports:
      - "80:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/docker/homepage/config:/app/config
    environment:
      - TZ=Europe/Amsterdam
      - PUID=1000
      - PGID=1000

networks:
  ingress-network:
    external: true
